.footer-section {
  padding: 60px 0 0;
}

.footer-icon span {
  font-size: 32px;
  margin: 0 15px 0 0;
}

.footer-left p {
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  margin: 0 0 5px;
  color: #0e133a;
}

.footer-navlink h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: #0e133a;
}

.footer-navlink ul {
  margin: 0;
  padding: 0;
}

.footer-navlink ul li {
  list-style: none;
  margin: 5px 0;
  padding: 0;
}

.footer-navlink ul li a {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #5b5d6d;
  text-decoration: none;
}

.footer-navlink ul li a:hover {
  color: #1f33d8;
}

.copyright {
  padding: 40px 0;
}

.copyright p {
  font-weight: 600;
  color: #5b5d6d;
  margin: 0;
  text-align: center;
}
