.section-two {
  margin-bottom: 132px;
}

.wallet-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  background-repeat: no-repeat;
  padding: 45px 40px;
  margin: 0 0 20px;
  min-height: 462px;
}

.wallet-left {
  background-image: url("../../../images/middle-card1.png");
  background-size: cover;
}

.wallet-middle {
  background-image: url("../../../images/middle-card2.png");
  background-size: cover;
}

.wallet-title {
  margin-bottom: 37px;
  display: flex;
  align-items: center;
}

.wallet-title h3 {
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  margin: 0 0 0 12px;
}

.wallet-left .wallet-title h3 {
  color: #ffffff;
}

.wallet-middle .wallet-title h3 {
  color: #000000;
}

.wallet-card p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

.wallet-left p {
  color: #ffffff;
}

.wallet-middle p {
  color: #000000;
}

.wallet-icon span {
  font-size: 20px;
  margin: 0 15px 0 0;
}

.wallet-left .wallet-icon span {
  color: #ffffff;
}

.wallet-middle .wallet-icon span {
  color: #000000;
}

.wallet-btn a {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}

.wallet-middle .wallet-btn {
  background: #1f33d8;
  border-radius: 0px 50px 50px 0px;
  padding: 15px 0;
  position: relative;
  left: -40px;
  width: 244px;
}

.wallet-middle .wallet-btn a {
  color: #fff;
  margin-left: 50px;
}
